/* responsive-navbar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* box-sizing: border-box; */
}

h1,
h2 {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 20px;
}

nav {
  background: #333;
  height: 80px;
  width: 100%;
  position: fixed;
}

/* label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
} */

.logo {
  position: absolute;
  top: 22px;
  left: 22px;
  overflow: hidden;
  z-index: 1;
  width: 48px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.active,
a:hover {
  background: #a49594;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #a49594;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #333;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.bg-image {
  background: url(images/intro-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}
/* section {
  background: url(images/intro-image.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */

/* end responsive-navbar */

/* SECTION - about */
.about-content {
  padding: 30px 50px;
  padding-top: 0;
  text-align: left;
}

/* SECTION - besedy */
.besedy__image {
  background-image: url(images/besedy-greycolor.jpg);
  height: 70vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.besedy-content {
  padding: 30px 50px;
  padding-top: 0;
  text-align: left;
  margin-top: 30px;
}

h2 {
  font-size: 21px;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

/* CARD - invite */
.invite-container {
  margin-top: 30px;
}

.besedy__image-invite {
  background-image: url(images/invite.jpeg);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  border-radius: 3px;
  margin-top: 15px;
  display: inline-block;
  padding: 6px 8px;
  justify-content: center;
  /* align-items: center; */
  background-color: #000000;
  color: #fff;
  text-align: center;
  width: 30%;
}

@media (min-width: 952px) {
  .invite__card {
    display: flex;
  }

  .besedy__image-invite {
    height: 40vh;
    width: 100%;
  }

  .invite__card-text {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
  }
}

/* FOOTER - contact */

.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
}

.footer__logo {
  background: transparent;
  overflow: hidden;
  /* z-index: 1; */
  width: 47px;
}

.contact__row span {
  display: inline-block;
  height: 1.2rem;
}

.contact__label {
  width: 70px;
}

.social-media__row {
  display: flex;
  align-items: center;
}

.icon {
  height: 100%;
  margin-right: 0.5rem;
}

.contact__detail a,
.social-media__row a {
  text-decoration: none;
  color: white;
}

.contact__label,
.icon {
  margin-right: 15px;
}
